body{
    
    background-color:antiquewhite;
    
}

*{
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

.wrapper {
    
    width: 400px;
    margin: auto;
    height: auto;
    background-color:darkslategray;
    padding: 15px;
    border-radius: 15px;
    
}

input[type=text]{
    
    width: 100%;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    
}

input[type=button]{
    
    width: 89px;
    padding: 6px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    background-color: aliceblue;
    
}

#del{
    
    width: 100%;
    
}

h3{
    
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
    
}
